<section data-ng-controller="HomeController">
    <div id="main" class="wrap" data-ng-controller="SongsController">
    
        <!-- Define all of the tiles: -->
        <div class="box">
          <div class="boxInner" ng-click="onSearch('Acoustic')">
            <a href=""><img ng-src="modules/core/img/brand/Acoustic1.png" /></a>
           </div>
        </div>
        <div class="box" ng-click="onSearch('Blues')">
          <div class="boxInner">
            <a href=""><img ng-src="modules/core/img/brand/Blues.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Classical')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Classical.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Country')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Country.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Ethnic')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Ethnic.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Folk')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Folk.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('gospel')">
          <div class="boxInner">
            <a <a href=""><img src="modules/core/img/brand/Gospel.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Hip-Hop')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Hip-Hop.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Jazz')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Jazz1.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Latin')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Latin1.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Opera')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Opera.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Rap')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Rap.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('R & B')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/RB.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Raggae')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Reggae1.png" /></a>
          </div>
        </div>
        <div class="box" ng-click="onSearch('Soul')">
          <div class="boxInner">
            <a href=""><img src="modules/core/img/brand/Soul2.png" /></a>
          </div>
        </div>
    </div>
  
</section>