<section class="row" data-ng-controller="AuthenticationController">
	<div id="login">
		<form data-ng-submit="signup()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset class="clearfix">


				<div class="form-group">
					<span class="fa fa-user"></span><input type="text" required id="firstName" name="firstName" data-ng-model="credentials.firstName" placeholder="First Name">
				</div>
				<div class="form-group">
					<span class="fa fa-user"></span><input type="text" id="lastName" name="lastName" data-ng-model="credentials.lastName" placeholder="Last Name">
				</div>
				<div class="form-group">
					<span class="fa fa-envelope"></span><input type="text" id="email" name="email" data-ng-model="credentials.email" placeholder="Email">
				</div>
				<div class="form-group">
                	<span class="fa fa-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" data-ng-model="credentials.username" placeholder="Username"required>
                </div>
				<div class="form-group">
					<span class="fa fa-key"></span><input type="password" name="password" data-ng-model="credentials.password" placeholder="Password">
				</div>
				<div class="text-center form-group">
					<button type="submit" style="color: ccc;"class="btn btn-large btn-primary1">Sign up</button>&nbsp; or&nbsp;
					<a href="/#!/signin" class="show-signup">Sign in</a>
				</div>
				<div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
			</fieldset>
		</form>
	</div>
</section>