<section class="row" data-ng-controller="AuthenticationController">
	<div id="login">

        <form data-ng-submit="signin()" class="signin form-horizontal" autocomplete="off">

            <fieldset class="clearfix">

                <div class="form-group">
                	<span class="fa fa-user"></span><input type="text" value="Username" onBlur="if(this.value == '') this.value = 'Username'" onFocus="if(this.value == 'Username') this.value = ''" data-ng-model="credentials.username" placeholder="Username"required>
                </div> <!-- JS because of IE support; better: placeholder="Username" -->
                <div class="form-group">
                	<span class="fa fa-key"></span><input type="password"  value="Password" onBlur="if(this.value == '')  this.value = 'Password'" onFocus="if(this.value == 'Password') this.value = ''" data-ng-model="credentials.password" placeholder="Password" required>
                </div> <!-- JS because of IE support; better: placeholder="Password" -->
                <div class="form-group" >
                	<input type="submit" style="width: 250px;" value="Sign In">
                </div>
                
            </fieldset>
        </form>

           <div class="form-group">Not a member? <a href="/#!/signup">Sign up now</a><span class="fa fa-arrow-right"></span></div>
           <div data-ng-show="error" class="text-center text-danger">
					<strong data-ng-bind="error"></strong>
			</div>
    </div>
</section>