<section data-ng-controller="SongsController" data-ng-init="findOne()" id="main">
	<div class="page-header">
		<h1 data-ng-bind="song.title"></h1>
	</div>
	<div>
		<div class="pull-right">
			<a class="btn btn-primary" href="/#!/songs/{{song._id}}/edit">
				<i class="glyphicon glyphicon-edit"></i>
			</a>
		<span data-ng-show="authentication.user._id == song.user._id">
			<a class="btn btn-primary" data-ng-click="remove();">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
		</span>
		</div>
		<small>
			<em class="text-muted">
				Posted on
				<span data-ng-bind="song.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="song.user.displayName"></span>
			</em>
		</small><br>
		<span class="pull-left">
			<div youtube video="song.youTube"></div>
		</span>
		<span class="pull-right">
			<p class="lead" data-ng-bind="song.artist"></p>
		    <p class="lead" data-ng-bind="song.genre"></p>
		    <p class="lead" data-ng-bind="song.rating"></p>
	    </span>
    </div>
</section>